<h2> Teacher List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students" >
            <td> {{ teacher.firstName }} </td>
            <td> {{ teacher.lastName }} </td>
            <td> {{ teacher.emailId }} </td>
            <td>
                <button (click) = "updateTeacher(student.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteTeacher(student.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "studenTeacher(student.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
